<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>

<div class="loginHeading">
  <% provide(:title, "PeerLogic Single Sign On") %>
  <h1>PeerLogic Single Sign On</h1>
</div>

<div class="loginWrapper">
  <div class="loginContainer">
    <%= form_for(:session, url: login_path) do |f| %>

        <div class="loginEmail">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="loginPassword">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="loginButton">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>

        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>

  <% end %>

  </div>
</div>