<div class="contentContainer">
<h1 class="heading">Users</h1>
  <p id="notice" class="notice"><%= notice %></p>
<span class="newLink"><%= link_to 'New User', new_user_path %></span>
</div>
  <table id="tableHeader">
  <thead>
    <tr>
      <th class="row">Username</th>
      <th class="row">Name</th>
      <th class="row" class="row1">Email</th>
      <th class="row">Role</th>
      <th class="row">Actions available</th>
    </tr>
  </thead>
</table>
<table id="tableContent">
  <tbody>
    <% @users.each do |user| %>
      <% if user.role != "admin" %>
      <tr>
        <td class="row"><%= user.username %></td>
        <td class="row"><%= user.name %></td>
        <td class="row"><%= user.email %></td>
        <td class="row"><%= user.role %></td>
        <td class="row">
          <%= link_to 'Show', user %>
          <%= link_to 'Edit', edit_user_path(user) %>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>