<div class="contentContainer">
  <h1 class="heading">Keys</h1>
  <p id="notice" class="notice"><%= notice %></p>
<span class="newLink"><%= link_to 'New Key', new_key_path %></span>
</div>
<table class="tableHeader">
  <thead>
    <tr>
      <th class="row">Key value</th>
      <th class="row">Ttl</th>
      <th class="actionRow">Actions available</th>
    </tr>
  </thead>
</table>
<table class="tableContent">
  <tbody>
    <% @keys.each do |key| %>
      <tr>
        <td class="row"><%= key.key %></td>
        <td class="row"><%= key.ttl %></td>
        <td class="actionRow"><%= link_to 'Show', key %>
        <%= link_to 'Edit TTL', edit_key_path(key) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
