<div class="editWrapper">
  <div class="editContainer">
    <p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @key.key %>
</p>

<p>
  <strong>Ttl:</strong>
  <%= @key.ttl %>
</p>
    <div class="navLinks">
<%= link_to 'Edit', edit_key_path(@key) %> |
<%= link_to 'Back', keys_path %>
  </div></div></div>