<div class="editWrapper">
  <div class="editContainer">
    <h1>Enabling APIs</h1>

<%= form_with do |form| %>

    <%= hidden_field_tag "client_id", @client.id %>

    <ul>
      <% @apis.each do |api| %>
            <% if @clientAPIs.include? api %>
              <%= check_box_tag 'api_ids[]', api.id, true -%>
              <% else %>
              <%= check_box_tag 'api_ids[]', api.id, false -%>
              <% end %>
            <%= h api.name -%>
      <br>
      <% end %>
    </ul>

    <div class="navLinks">
      <%= form.submit %>
    </div>
        </div>
        </div>
<% end %>