<h1>Enabling APIs</h1>

<%= form_with do |form| %>


    <%= form.collection_check_boxes :apis, {multiple: true}, 1, nil %>


    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :client_name %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>