<div class="editWrapper">
  <div class="editContainer">
    <p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @client.key %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

    <div class="editField">
<%= link_to 'Edit', edit_client_path(@client) %> |
    </div>
    <div class="editField">
<%= link_to 'Back', clients_path %>
    </div></div></div>
