<div class="contentContainer">
<h1 class="heading">Apis</h1>
<p id="notice" class="notice"><%= notice %></p>
  <span class="newLink"> <%= link_to 'New Api', new_api_path %></span>
</div>

<table class="tableHeader">
  <thead>
    <tr>
      <th class="row">Name</th>
      <th class="bigActionRow">Actions available</th>
    </tr>
  </thead>
</table>
<table class="tableContent">
  <tbody>
    <% @apis.each do |api| %>
      <tr>
        <td class="row"><%= api.name %></td>
        <td class="bigActionRow">
          <%= link_to 'Show', api %>
          <%= link_to 'Edit', edit_api_path(api) %>
          <%= link_to 'Destroy', api, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
