<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag :application %>
</head>

<% if logged_in? %>
      <div class="loginHeading">
          <ul class="navBar">
            <li class="navItem">
              <%= link_to "Apps", clients_path, method: :get %>
            </li>
            <li class="navItem">
              <%= link_to 'Edit Profile', edit_user_path(@current_user) %>
            </li>


            <% if isAdmin? %>
                <li class="navItem">
                  <%= link_to 'All users', users_path %>
                </li>

                <li class="navItem">
                  <%= link_to 'APIs', apis_path %>
                </li>

                <li class="navItem">
                  <%= link_to 'Encryption Keys', keys_path %>
                </li>
            <% end %>

            <li class="navItem">
              <%= button_to "Log out", logout_path, method: :delete %>
            </li>
          </ul>
      </div>
      <br>
    </header>
<% end %>

<body>
<%= yield %>
</body>
</html>
